{% extends 'base.html' %} 


        {% block back_home %}
        {% endblock %}

{% block body %} 

<h2>Choose your action: </h2>

<p>
    <ul>
        <li><a href="flights_list">See the flights</a></li>
        <li><a href="change_app_param">Make changes to app parametres</a></li>
        <li><a href="change_flight_search">Make changes to flights' searching machine</a></li>
        <li><a href="change_db">Make changes to database connection settings</a></li>
        <li><a href="delete_flights">Delete obsolete searches</a></li>
        <li><a href="filter_flights">Filter the flights results based on the price</a></li>
    </ul>
</p>

{% endblock %}
